* { 
	box-sizing: border-box;
    	margin: 0;
}
body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: #CCCCCC;
}
#wrapper {
	background-color: #5E2BB8;
}
header {
	color: #000000;
	background-color: #ffffff;
	background-image: url(./ProjectPictures/hanatourLogo.gif);
	background-repeat: no-repeat;
	background-size: auto 100%;
	padding: .5em 0 .5em 5.5em;
    border-bottom: #5E2BB8 1px solid;
}
main {   
	background-color: #FFFFFF;
      color: #000000;
	padding: 1em; 
}
aside { 
	text-align: center; 
}
footer {
	background-color: #08D1D9;
	font-size: 70%;
	text-align: center;
	padding: 0.5em 0;
	color: white;
}
img { 
	padding: 1em; 
}
#AboutMeImg {
  width: 20%;
  height: auto;
}
.aboutMe{
  display: flex;
}
.aboutMeText{
  margin-left: 20px;
}
h2 {
	color: #08D1D9;
}
.floatRight{
	float:right;
	margin-left:6px;
	
}
nav ul { 
	list-style-type: none;
      padding-left: 0; 
}
nav li { 
	border-bottom: 1px solid #EEEEEE;  
      text-align: center;
	padding-top: .5em;
	padding-bottom: .5em;
}
nav a { 
	text-decoration: none;
		font-weight: bold;
}
nav a:link {
	color: #08D1D9;
}
nav a:hover {
	color: #08D1D9;
}
nav a:visited {
	color:#FFFFFF;
}
nav #page { 
	font-weight: bold;
      color: #FEFEFE; 
}
header, nav, main, footer, aside, figure { 
	display: block; 
}
h3 a { 
	text-decoration: none;
		font-weight: bold;
}
h3 a:link {
	color: #08D1D9;
}
h3 a:hover {
	color: #08D1D9;
}
h3 a:visited {
	color:#5E2BB8;
}
@media (min-width: 600px) {
	#wrapper { 
		display: grid; 
		grid-template-columns: 55% auto;
		grid-template-rows: auto auto auto auto;
		}
	header { 
		grid-row: 1 / 2; grid-column: 1 / 3; }
	nav    { 
		grid-row: 2 / 3; grid-column: 1 / 3; }
	main   { 
		grid-row: 3 / 4; grid-column: 1 / 2; }
	aside  { 
		grid-row: 3 / 4; grid-column: 2 / 3; }
	footer {
		grid-row: 4 / 5; grid-column: 1 / 3; }
	nav ul { 
		display: flex; 
		flex-direction: row; 
		flex-wrap: nowrap; 
		justify-content: space-around; }
	nav ul li { 
		border-bottom: none; } 
}
@media (min-width: 1024px) {
	body     { 
		background-color: #ffffff; 
	}
	nav ul { 
		display: flex; 
		flex-direction: column; 
		flex-wrap: nowrap; 
	}
	#wrapper { 
		width: 80%; 
		margin: auto; 
		max-width: 1200px; 
		display: grid; 
		grid-template-columns: 150px auto auto;
		grid-template-rows: auto auto auto ; 
	}
	header { 
		grid-row: 1 / 2; 
		grid-column: 1 / 4; 
	}
	nav    { 
		grid-row: 2 / 3; 
		grid-column: 1 / 2; 
	}
	main   { 
		grid-row: 2 / 3; 
		grid-column: 2 / 3; 
	}
	aside  { 
	grid-row: 2 / 3; 
	grid-column: 3 / 4; 
	}
	footer { 
		grid-row: 3 / 4; 
		grid-column: 1 / 4; 
	}

} 