<!-- aboutMe.ejs in app/views Byeol Ahn 301288852 Oct 7th 2023 -->
<% include partials/header.ejs %>
        <main>
            <div class="aboutMe">
                <img src="/images/AboutMe.JPG" alt="AboutMe" id="AboutMeImg">
                <div class="aboutMeText">
                    <br>
                   <h2>Name: Byeol Ahn</h2>
                   <br>
                   <br>
                   <b>Short summary about Me</b>
                    <p>I am currently a student of Software Engineering Technology specializing in Artificial Intelligence, and I have a passion for software developing. 
                    I have a high academic achievement with a GPA of 4.34/4.5 and 
                    hold a Bachelor of Science degree. 
                    I am proficient in C# and Java, with a solid understanding of object-oriented principles and application development. 
                    I have experience in creating user-friendly interfaces using HTML, CSS, JavaScript, and various web development frameworks. 
                    I have a comprehensive understanding of relational database concepts, including data modeling, normalization, database security, and SQL queries using Oracle SQL. 
                    I am experienced in using tools such as Jira for project management, GitHub for version control, Visual Studio Code for development, and MS Office for productivity. 
                    I have proven communication and interpersonal skills, with professional experience in client-facing work.
                    </p> 
                    <br>
                    <a href="/Byeol Ahn 301288852 Resume.pdf">This is my resume.</a>
                </div>
                
                
            </div>
            
        </main>
<% include partials/footer.ejs %>