<% include partials/header.ejs %>
        <main>
            <h2>Welcome to Byeol's Portfolio</h2>
            <p>Dive into my portfolio to explore the projects I've worked on. 
                Discover what I can do!</p>
            <h2>Mission Statements</h2>
            <p>Driven by a passion for technology and problem-solving, my goal is to design and develop software that is not only functional but also intuitive and user-friendly.</p>
        </main>
<% include partials/footer.ejs %>