<!-- homePage.ejs in app/views Byeol Ahn 301288852 Oct 7th 2023 -->
<% include partials/header.ejs %>
    <main>
        <h2>Welcome to <a href="/aboutMe">Byeol</a>'s Portfolio</h2>
        <br>
        <p>Dive into my portfolio to explore the projects I've worked on.
            Discover what I can do!</p>
        <br>
        <h2>Mission Statements</h2>
        <br>
        <p>Driven by a passion for technology and problem-solving, my goal is to design and develop software that is not
            only functional but also intuitive and user-friendly.</p>
    </main>
    <% include partials/footer.ejs %>