<!-- projectsPage.ejs in app/views Byeol Ahn 301288852 Oct 7th 2023 -->
<% include partials/header.ejs %>
    <main>
        <!-- Main Section: project list that I did. Provide pictures, titles, and short descriptions for each project.  -->
        <h2>Project List</h2>
        <hr>
        <p class="clearBoth">
            <a>
                <img src="/images/project1.jpg" class="auto-style1" alt="project1" width="320" height="240">
            </a>
            <br>
        <h3>Student Record Management System</h3>
        <b><br>Using C#</b><br>
        I developed a console application using C#.
        <br><br>
        Outcome: The application successfully manages student records, facilitating tasks such as adding new students,
        displaying student records, searching for students by name or ID, deleting student records, and providing
        summary statistics.
        <br>
        &nbsp;
        </p>
        <hr>
        <p class="clearBoth">
            <a>
                <img src="/images/project2.jpg" class="auto-style1" alt="project2" width="320" height="240">
            </a>
            <br>
        <h3>Database Design Project</h3>
        <b><br>Using Oracle SQL</b><br>
        I created a comprehensive database system for a footwear company.
        <br><br>
        Outcome: The project involved requirements analysis, ER model design, entity definition, and table creation. The
        resulting database system effectively manages the company's data.
        <br>&nbsp;
        </p>
        <hr>
        <p class="clearBoth">
            <a>
                <img src="/images/project3.jpg" class="auto-style1" alt="project3" width="320" height="240">
            </a>
            <br>
        <h3>Web Design of a Wall of Images for Pixar movies</h3>
        <b><br>Using HTML, CSS, JavaScript</b><br>
        I designed a Wall of Images for Pixar movies using data stored in a pixar.json file.
        <br><br>
        Outcome: The website includes three filters to change the display of images based on the year of production,
        director, and order of display (ascending or descending). This provides an interactive and user-friendly
        experience for visitors.
        <br><br>
        </p>

    </main>
    <% include partials/footer.ejs %>