<% include partials/header.ejs %>
        <main>
            <h2>What I can offer</h2>
            <div class="puzzle-piece">
                <img src="/images/servicePageImage/c-sharp.png" alt="C# Programming">
                <h2>C# Programming</h2>
            </div>
            <div class="puzzle-piece">
                <img src="/images/servicePageImage/java.png" alt="Java Programming">
                <h2>Java Programming</h2>
            </div>
            <div class="puzzle-piece">
                <img src="/images/servicePageImage/HTML.png" alt="HTML">
                <h2>HTML</h2>
              </div>
              <div class="puzzle-piece">
                <img src="/images/servicePageImage/SQL.png" alt="SQL">
                <h2>Oracle SQL</h2>
              </div>
              <div class="puzzle-piece">
                <img src="/images/servicePageImage/CSS.png" alt="CSS">
                <h2>CSS</h2>
              </div>
              <div class="puzzle-piece">
                <img src="/images/servicePageImage/UnixLinuxOS.png" alt="Unix/Linux OS">
                <h2>Unix/Linux OS</h2>
              </div>
              <div class="puzzle-piece">
                <img src="/images/servicePageImage/JavaScript.png" alt="JavaScript">
                <h2>JavaScript</h2>
              </div>
              <div class="puzzle-piece">
                <img src="/images/servicePageImage/Python.png" alt="Python">
                <h2>Python</h2>
              </div>
              <div class="puzzle-piece">
                <img src="/images/servicePageImage/Requirements.png" alt="Software Requirements Engineering">
                <h2>Software Requirements Engineering</h2>
              </div>
        </main>
<% include partials/footer.ejs %>